<ul id="contact">
	<li>
		<b>Teléfono:</b> <a href="tel://21246692" id="tel" title="Teléfono" >(503) 2124-6692</a>
	</li>
	<li>
		<b>Correo:</b> <a href="mailto:info@503estudio.com" title="Correo">info@503estudio.com</a>
	</li>
	<li>
		<b>Facebook:</b> <a href="http://facebook.com/503Estudio" id="facebook_contact" title="Facebook" >facebook.com/503estudio</a>
	</li>
	<li>
		<b>Twitter:</b> <a href="http://twitter.com/503Estudio" id="twitter_contact" title=Twitter">@503estudio</a>
	</li>
</ul>